*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  
}


a{
  text-decoration: none;
}

.bxs-star, .bxs-pencil, .bxl-paypal, .bxs-truck{
  background-color: $primary-dark;
  color: white;
  border-radius: 50%;
  padding: 3px
}

body{
  font-family: $default-font;
}

.red-btn{
  cursor: [pointer];
  padding: .8rem 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  border: none;
  font-family: $default-font;
  text-transform: uppercase;
  box-shadow: $default-box-shadow;
  background-color: $primary-dark !important;
}

.dropdown-menu{
  border-width: 0 !important;
  border: none !important;
  box-shadow: $default-box-shadow;
  padding: 0.5rem 1rem;
}

main{
  background-color: $primary-light;
}
section{
  padding:1rem 0;
}




