@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: rgb(220 ,194, 188);
$primary-light: rgb(187,127,125);
$primary-dark: rgb(141,40,54);
$gray:#f1f1f2;
$white:#ffffff;
$tertiary: #e61601;
$secondary:#313133;

$default-font:Roboto, -apple-system, "Segoe UI" , "Helvetica Neue" , "Arial" , "sans-serif";

$logo-font: "Audiowide", cursive;

$header-height: 80px;
$default-box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
